{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}

{% if messages %}
    <div class=flashes>
    {% for message in messages %}-
      <p>{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
 {% endwith %}
<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  <h1 class="title">Welcome, {{ current_user.name }}!</h1>
  <!--TODO: Make a GET request to the /download path-->
  <a href=" {{ url_for('download') }}">Download Your File</a>
</div>
{% endblock %}
